<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        #allmap{height:500px;width:100%;}
        #r-result{width:100%;}
    </style>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bHbEGIEzXaATRk08GLSZSGUA"></script>
    <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
    <!--<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>-->
    <title>User Story</title>
</head>
<body>
<div id="allmap"></div>
<div id="navid">{{ navid }}</div>
<div id="console">
</div>
</body>
</html>
<script type="text/javascript">
    // Definition of Firebase.
//    var myFirebaseRef = new Firebase("https://popping-inferno-6736.firebaseIO.com");
//    // Definition of Events of Firebase
//    myFirebaseRef.child("location/city").on("value", function(snapshot) {
//        alert(snapshot.val());  // Alerts "San Francisco"
//    });
    // Initiation of index and count.
    var index               = 0;
    var total_points_count  = 0;
    // Raw Points
    var trace_points  = [];
    // Baidu Points
    var baidu_points  = [];
    // Definition of url
    var request_trace = "/tracelist/";
    // Get user's navigetion id.
    var navid  = document.getElementById("navid").innerHTML;
    document.getElementById("navid").innerHTML = "";
    // Feature of Baidu API
    var map    = new BMap.Map("allmap");
    // Initiation of vehicle.
    var vwIcon = new BMap.Icon(
            "http://developer.baidu.com/map/jsdemo/img/Mario.png",
            new BMap.Size(32, 70), {
                //offset: new BMap.Size(0, -5),    //相当于CSS精灵
                imageOffset: new BMap.Size(0, 0)    //图片的偏移量。为了是图片底部中心对准坐标点。
            });
    var carMk;

    // Run the Animation.
    window.run = function (src, des){
        var path_index = 0;
        var paths      = [];
        var len        = 10;
        for (var i = 0; i < len; i++){
            var new_lng = src.lng + i*(des.lng - src.lng)/len;
            var new_lat = src.lat + i*(des.lat - src.lat)/len;
            paths.push(new BMap.Point(new_lng, new_lat));
        }
        function resetMkPoint(){
            carMk.setPosition(paths[path_index]);
            if(path_index < len){
                setTimeout(function(){
                    path_index++;
                    resetMkPoint(path_index);
                },100);
            }
        }
        setTimeout(function(){
            resetMkPoint();
        },100);

    };

    var forward = function (){
        // Draw a point on Map.
        var marker = new BMap.Marker(baidu_points[index]);
        map.addOverlay(marker);
        // Create the polyline.
        if (index >= 1) {
            var polyline = new BMap.Polyline(
                    [baidu_points[index-1], baidu_points[index]],
                    {strokeColor: "blue", strokeWeight: 4, strokeOpacity: 0.5}
            );
            map.addOverlay(polyline);
            run(baidu_points[index-1], baidu_points[index]);
        }
        index ++;
        if (index >= total_points_count){
            alert("Arrived destination already!");
            document.getElementById("console").innerHTML = "";
        }
    };

    var drawMap = function (converted_points){
        // Create the polyline.
        alert("haha! " + converted_points.length);
        total_points_count = converted_points.length;
        baidu_points       = converted_points;
        // Load Animation image.
        carMk              = new BMap.Marker(baidu_points[0],{icon: vwIcon});
        map.addOverlay(carMk);
        document.getElementById("console").innerHTML = "<button onclick = 'forward()'><- Forward -></button>";
    };

    var converter = function (points, callback){
        var new_points = [];
        var i = 0;
        var parseCallback = function (point){
            new_points.push(point);
            i ++;
            if (i < points.length) {
                BMap.Convertor.translate(points[i], 2, parseCallback);
            }
            else {
                callback(new_points);
            }
        };
        BMap.Convertor.translate(points[i], 2, parseCallback);
    };

    var getData = function (result){
        // Extract raw points
        if (result["status"] != "ok"){
            trace_points = []
        }
        else {
            trace_points = result["tracelist"];
        }
        // Initiation of Baidu POI
        var points = [];
        for (var i = 0; i < trace_points.length; i++){
            if (i % 35  == 0) {
                points.push(new BMap.Point(trace_points[i]["x"], trace_points[i]["y"]));
            }
        }
        map.centerAndZoom(points[0], 13);
        // Parse the points from gps to baidu points.
        // And mark these points in map

        converter(points, drawMap);
    };

    // Request for data of trace.
    var para = {navid: navid};
    $.ajax({
        contentType: "application/json",
        type: "POST",
        url : request_trace,
        data: JSON.stringify(para),
        async: true,
        success: getData,
        dataType: 'json'
    });

</script>
